<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jansir.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventBus">
        <activity
            android:name="com.jansir.sample.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EventBus.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jansir.sample.TestClassActivity"/>
        <activity android:name="com.jansir.sample.TestFragmentActivity"/>
        <activity android:name="com.jansir.sample.TestLifecycleActivity"/>
        <activity android:name="com.jansir.sample.TestViewModelActivity"/>
    </application>

</manifest>